---
layout: post
title:  2021 MAF Test Results
date:   2021-12-31
description: 
tags: 
categories: lists
---

# Intro: 07 March 2021
In an effort to reduce the chance of future injury, avoid burnout, and improve my aerobic base, I'm setting a big goal for the year to focus on low heart rate training. I've brought this up a few times before and I'm committing to taking the time and seeing what kind of improvements I can get. I'll be using a target heart rate of 155 and doing a monthly 3-mile baseline test. There will be updates to follow!

# Update: 15 July 2021
After seeing a physical therapist to make sure I am ready for marathon training, I've modified the plan a bit. While low heart rate training is helpful for setting a baseline for easy days, it is also important to give your brain and body stimulus to remember how to go fast. With this in mind, my general goal for a week of running is one day completely easy at LHR, one speed day (either hill sprints or intervals at 180 cadence), one mostly easy day with perhaps a fast finish, and one long run (also easy). This will help keep things interesting and allow me to train at a variety of paces.


| Date  | Conditions  | Mile 1  | Mile 2  | Mile 3  | Total running time  | Reflection |
|---    |---          |---      |---      |---      |---                  |---         |
| Sunday, 07 March 2021  | Left house at 7:10 am. Walked about 1.2 miles to Norwood track. No headphones, it was a quiet morning and a lovely 50 degrees outside at the start.  | 14:11 | 15:20  | 15:38  | 45:08  | Feeling good after this run! It is so much easier to keep consistent on the track. Started off needing to walk about once per lap, which fell apart around mile 3. Overall feeling really pleased after today's run since I got some meditative time in and could just enjoy being outside. |
| Sunday, 04 April 2021  | Left house at 7:00 am. Walked to Norwood track. It was quiet with no headphones and started out around 50 degrees. Ate a caffeine Huma gel before warmup | 14:37 | 15:17 | 15:26 | 45:20 | Overall time was slower but I feel like this is progress! The times for miles 2 and 3 are much more consistent and cardiac drift seemed to be less. I was also able to go for 1.5 laps at some points today without walking. Happy with this performance given it has been a stupidly stressful month, I am on my period, and I went for a hard hike yesterday that went out of my HR zones. |
| Thursday, 15 July 2021 | Left house at 6:55 am. Walked to Norwood track. No headphones and it started about 57 degrees. Had some raisins and water before leaving. Some stress about not being able to find my watch | 13:19 | 14:17 | 14:57 | 42:34 | Really excited to see this progress even though I still feel slow when I'm comparing myself to other people on the track. My first sub-14 minute mile at this effort! Each mile under 15 minutes! This is almost 3 minutes faster than the last test, although my splits are much less consistent. No complaints here! | 
| Thursday,  9 September 2021  | Left house at 6:45 am. Walked to Norwood track. Motivation was low so did bring headphones today. It started around 58 degrees. Had some raisins and water before leaving.  | 12:49  | 14:12  | 14:47  | 41:49  | What a blistering  (relatively) first  mile! All my splits were faster than the last time. The downhill walk wasn't a great warmup to get to the track so my HR peaked a bit at the beginning. Also only had to walk twice during this session!|